// height of top navigation bar
$nav-height: 50px;

// width of the side nav, variable defined here because the page content has the same margin
$sidenav-width: 230px;

// md breakpoint
$md-breakpoint: 700px;

$sm-breakpoint: 450px;

$default-blue: #5c9def;

$default-gray: #2c3035;
